<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>P0nygramm - Die Datingplattform für Kellerponys</title>
        <link rel="stylesheet" href="static/p0nygramm.css">
        <script src="static/p0nygramm_api.js"></script>
        <script src="static/p0nygramm_ui.js"></script>
        <script src="static/p0nygramm.js"></script>
    </head>
    <body>
        {{#if backend_error}}
            {{! Content, if there was an error in the backend}}
            <h3>
                Es ist ein Fehler im Backend aufgetreten, bitte versuchen Sie es später noch einmal!
            </h3>
            <p>
                Fehlermeldung:<br>
                {{backend_error.error_msg}}
            </p>
            <p>
                <input type="button" onclick="ui_page_reload()" value="Seite neu laden">
            </p>
        {{else}} {{#if user_data}}
            {{! Content, if user is logged in}}
            <header>
                <a id="header_left">
                    <a>Logo</a>
                </a>
                <a id="header_right">
                    <a>
                        <input type="checkbox" id="cb_show_sfw" {{#if session_settings.show_sfw}}checked{{/if}}>
                        <label for="cb_show_sfw">SFW</label>
                    </a>
                    <a>
                        <input type="checkbox" id="cb_show_nsfw" {{#if session_settings.show_nsfw}}checked{{/if}}>
                        <label for="cb_show_nsfw">NSFW</label>
                    </a>
                    <a>Hochladen</a>
                    <a>{{userdata.username}}</a>
                    <a onclick="js_logout()">Abmelden</a>
                </a>
            </header>
            <section id="main_content" onload="js_index_add_upl_prv()">
                {{! Main Content section}}
            </section>
            <div id="overlay_container">
                <div id="overlay_content">
                    <p id="overlay_msg_txt"></p>
                    <p>
                        <a onclick="ui_close_overlay()">Schließen</a>
                    </p>
                </div>
            </div>
        {{else}}
            {{! Content, if user is not logged in}}
            <p>
                Dies ist eine rein private Webseite, daher ist der Zugang nur für registrierte Personen zugänglich.<br>
                Bitte anmelden oder registrieren!
            </p>
            <div id="div_login">
                Anmelden:
                <form onsubmit="js_login()">
                    <label for="log_username">Benutzername:</label><br>
                    <input type="text" id="log_username" name="username"><br><br>

                    <label for="log_password">Passwort:</label><br>
                    <input type="password" id="log_password" name="password"><br><br>

                    <input type="checkbox" id="log_keep_logged_in" name="keep_logged_in">
                    <label for="log_keep_logged_in">Eingeloggt bleiben</label><br><br>

                    <input type="submit" id="log_submit" value="Anmelden">
                </form>
                <div id="div_login_error">Platz für Fehlermeldungen</div>
            </div>
            <div id="div_register">
                Anmelden:
                <form onsubmit="js_register()">
                    <label for="reg_username">Benutzername:</label><br>
                    <input type="text" id="reg_username" name="username"><br><br>

                    <label for="log_password">Passwort:</label><br>
                    <input type="password" id="reg_password" name="password"><br><br>

                    <input type="password" id="reg_rep_pass" name="password_rep">
                    <label for="reg_rep_pass">Passwort wiederholen:</label><br><br>

                    <input type="text" id="reg_inv_key" name="inv_key">
                    <label for="reg_inv_key">Invite Key:</label><br><br>

                    <input type="submit" id="reg_submit" value="Registrieren">
                </form>
                <div id="div_reg_error">Platz für Fehlermeldungen</div>
            </div>
        {{/if}}{{/if}}
    </body>
</html>
