# Don't edit values with "%x%"! The makefile replaces these values!
# File will be included in the binary and can't be edited from the outside

[filesystem]
default_userconfig_filepath = "%def_user_config_filepath%"

[database]
required_schema_version = "1"
