# Don't edit values with "%x%"! The makefile replaces these values!
# File will be included in the binary and can't be edited by the user

[filesystem]
projekt_root = "%prjroot%"

[database]
required_schema_version = "1"
