# Contains the default config (includes in binary)
# Configs can be overlayed with the user config file

# Set the application configs
[application]
max_upload_size = "20" # Maximum filesize of uploads in MB

# Set the paths of the static webcontent, template and upload files
[filesystem]
ffprobe_path = "/usr/bin/ffprobe" # Path to ffprobe binary (part of ffmpeg)
static_webcontent_path = "%static_webcontent_path%"
uploads_path = "%uploads_path%"

# Set on which ip and port %project_name% will listen
[network]
ip_addr = "127.0.0.1"
port = "8080"

# Set the postgessql db connection parameters
[postgres]
host = "127.0.0.1"
port = "5432"
unix_socket_dir = "/run/postgres" # The socket file is unix_socket_dir/db_name
connection_method = "tcp" # Can be either 'tcp' or 'unix_socket'
user = "postgres"
password = ""
db_name = "%project_name%"

# Set the redis db connection parameters
[redis]
host = "127.0.0.1"
port = "6379"
unix_socket_file = "/tmp/redis.sock"
connection_method = "tcp" # Can be either 'tcp' or 'unix_socket'
